name: Lab4 CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: lab4/my-app

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4
      with:
        fetch-depth: 0

    - name: Set up Node.js
      uses: actions/setup-node@v3
      with:
        node-version: 20

    - name: Install shadow-cljs globally
      run: npm install -g shadow-cljs

    - name: Install project dependencies
      run: npm install

    - name: Run linter (clj-kondo)
      run: npx clj-kondo --lint src 

    - name: Build Shadow CLJS app
      run: npx shadow-cljs release app

    - name: Run tests
      run: npx shadow-cljs run-tests
