name: Lab4 CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: lab4/my-app

    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0  

    - name: Setup Node.js
      uses: actions/setup-node@v3
      with:
        node-version: 20

    - name: Install Shadow CLJS
      run: npm install -g shadow-cljs

    - name: Cache npm dependencies
      uses: actions/cache@v3
      with:
        path: ~/.npm
        key: ${{ runner.os }}-npm-${{ hashFiles('package-lock.json') }}
        restore-keys: |
          ${{ runner.os }}-npm-

    - name: Install project dependencies
      run: npm install

    - name: Run clj-kondo lint
      run: |
        npx clj-kondo --lint src || true  # предупреждения не прерывают workflow

    - name: Build Shadow CLJS release
      run: shadow-cljs release app

    - name: Run tests
      run: shadow-cljs compile app-test
